* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-container {
  position: relative;
  width: 400px;
  padding: 40px 30px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px none grey;
  font-family: "Times New Roman", Times, serif;
}

.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-size: 20px;
  font-weight: 600px;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

input:focus {
  border-color: #007bff;
  /* khi click vao input thì viền sẽ chuyển sang màu xanh 
kết hợp với outline:none*/
}

.submit {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 6px;

  cursor: pointer;
  /* chuyển trỏ sang bàn tay */

  transition: background-color 0.3s;
}

.submit:hover {
  background-color: #0056b3;
}
